#result {
    width: 100%;
}

#eventsTbl {
    width: 600px;
    margin: 0 auto;
}

#eventsTbl tbody {
    border: 1px solid #d0e4ff;
    background: #d0e4ff;
}

#eventsTbl tr td {
    border-right: 1px solid #d0e4ff;
    text-align: center;
    font-family: 'Signika', sans-serif;
    color: #003f84;
    padding: 7px 12px;
}