body {
    background: #edf7f7;
    opacity: 1;
    transition: 0.7s opacity;
}

.fade {
    opacity: 0;
    transition: none;
}

#space {
    width: 100%;
}

#chart {
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto;
}

#events {
    width: 600px;
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#headline, .line {
    margin: 5px 0;
    font-size: 0;
    background: #d0e4ff;
    animation: fadeIn .55s forwards;
}

#headline {
    background: #afd1ff;
}

#headline div, .line div {
    text-align: center;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    color: #003f84;
    padding: 20px 12px;
    vertical-align: middle;
    display: inline-block;
    width: 125px;
}

#headline div {
    color: black;
}